extends ../layout

block content
    .container
        form(method="POST",action="/user/signin")
            .form-group
                label(for='signinName') 用户名
                input#signinName.form-control(name="user[name]", type='text')
            .form-group
                label(for='siguinPassword') 密码
                input#siguinPassword.form-control(name="user[password]", type='password')
            .form-group.text-center
                button.btn.btn-default(type="button",data-dismiss="modal") 关闭
                button.btn.btn-success(type="submit") 提交